extends layout

block css
  script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
  script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  link(href="/stylesheets/style.css" rel="stylesheet")


block content
  div(id="myCarousel" class="carousel slide" data-ride="carousel")
    ol(class="carousel-indicators")
      li(data-target="#myCarousel" data-slide-to="0" class="active")
      li(data-target="#myCarousel" data-slide-to="1")
    div(class="carousel-inner" role="listbox")
      div(class="item active")
        img(class="first-slide" src="images/Home.jpeg" width="1920" height="1080" alt="First slide")
        div(class="container")
          div(class="carousel-caption")
            h1 Lorem Ispum
            p Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            p
              a(class="btn btn-lg btn-primary" href="/register" role="button") Créez un compte
      div(class="item")
        img(class="second-slide" src="images/video.jpg" width="1920" height="500" alt="Second slide")
        div(class="container")
          div(class="carousel-caption")
            h1 Teaser à venir
            p Un petit teaser est à venir, restez sur vos gardes !</p>
            p
              a(class="btn btn-lg btn-primary" href="#" role="button") Learn more
    a(class="left carousel-control" href="#myCarousel" role="button" data-slide="prev")
      span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
      span(class="sr-only") Previous
    a(class="right carousel-control" href="#myCarousel" role="button" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
      span(class="sr-only") Next

  //div(class="p1")
    p
      h3 Trouve des personnes sympas et efficaces
        br
        span C'est convivial et surtout économique
        span(class="glyphicon glyphicon-euro")


  //#choix_multiple
    form#choix1(method='post', action='#')
      p
        label(for='pays') Je cherche quoi ?
        br
        select#search(name='find')
          option(value='france') Trouver des déménageurs
          option(value='espagne') Proposer mon aide
    form#choix2(method='post', action='#')
      p
        label(for='pays') Dans quel lieu ?
        br
        select#pays(name='pays')
          option(value='france') France
          option(value='espagne') Espagne
          option(value='italie') Italie
          option(value='royaume-uni') Royaume-Uni
          option(value='canada') Canada
          option(value='etats-unis') États-Unis
          option(value='chine') Chine
          option(value='japon') Japon
    button#bouton1.btn.btn-primary.btn-lg(type='button') Rechercher

  div(class="container marketing")
    hr(class="featurette-divider")
    #bloc1.row.featurette
      .col-md-7
        h2.featurette-heading
          | Pourquoi utiliser Move Up ?
          span.text-muted C'est simple.
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', src='images/accueil_01.jpg', alt='Generic placeholder image')

    //hr(class="featurette-divider")
    //div(class="row featurette")
      div(class="col-md-7 col-md-push-5")
        h2(class="featurette-heading") Oh yeah, it's that good.
          span(class="text-muted") See for yourself.
        p(class="lead") Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        div(class="col-md-5 col-md-pull-7")
        img(class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image")
    //hr(class="featurette-divider")

    .row.featurette
      .col-md-7.col-md-push-5
        h2.featurette-heading
          | Oh yeah, it's that good.
          span.text-muted See for yourself.
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5.col-md-pull-7
        video(src='....', controls='', poster='images/video.jpg', width='455', autoplay='1')

  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='images/femme-souriante.png', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-lg-4
        img.img-circle(src='images/homme-souriant.jpg', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p
          | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-lg-4
        img.img-circle(src='images/femme-souriante2.jpg', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-default(href='#', role='button') View details »



    footer
      p(class="pull-right")
        a(href="#") Retour en haut
      p &copy; 2016 Move Up, Inc. &middot;
        a(href="#") Privacy
        span &middot;
        a(href="#") Terms

  block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")