doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="")
  meta(name="author" content="")
  title=title
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(href="/stylesheets/carousel.css" rel="stylesheet")
  link(rel='icon', href='/images/favicon.ico')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
  script(type="text/javascript" src="/script/view.js")
  
  block css
html
  body
    nav(class="custom_navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(href="/") 
            img(src="/images/logo.png" width="125" vertical-align="middle" alt="Move Up" title="Move Up")
        div(id="navbar" class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/") Accueil
            li(class="dropdown")
              ul(class="dropdown-menu")
          ul(class="nav navbar-nav navbar-right")
            -if (session.isAuthenticated)
              li
                a(href="/profile/" + session.userId) Mon profil
              li
                a(href="/logout") Se déconnecter
            -else
              li
                a(href="/register") S'inscrire
              li
                a(id="drop1" aria-expanded="true") Se connecter
                  span
                  ul
          div(id="lidrop" style="display:none" class="container")
            form(method="POST" action="/login")
                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus)
                input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required)
                button(class="btn btn-lg btn-primary btn-block" type="submit") Se connecter

    block content
        
    block script