extends ../layout

block css
    link(href="stylesheets/signin.css" rel="stylesheet")

block content
    div(class="container")
        form.form-signin(method="POST" action="/login")
            h2(class="form-signin-heading") Connexion
            br
            if(error)
                p=error
                br
            label(for="inputEmail")
            input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse Email" value=values.email required autofocus)
            label(for="inputPassword")
            input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required)
            br
            button(class="btn btn-lg btn-primary btn-block" type="submit") Se connecter