extends ../layout

block content
    input(type="file" class="form-control")
        label
            input(type="button" class="btn btn-primary" value="Sauvegarder")
            span
            input(type="reset" class="btn btn-default" value="Annuler")
            br
            br
            br
        div(id="check")